<html>
<head>
  <title><%= @contest.year %> Slideshow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<% if @contest.winning_entries > 0 %>

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @slideshow_images.each_with_index do |image, index| %>
      <li data-target="#carousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active <% end %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @slideshow_images.each_with_index do |image, index| %>
      <div class="item <% if index == 0 %>active<% end %>">
        <img src="<%= image.public_url %>">
        <div class="carousel-caption"><%= image.caption %></div>
      </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
<% else %>
<p>No winning entries have been chosen yet. Please check back after judging.</p>
<% end %>
</body>
</html>