<%= stylesheet_link_tag 'bootstrap-image-gallery' %>

<div id="entry-view">

  <%= render :partial => 'shared/judging/category_description' %>
  <hr>

  <h3>Entry #<%= @entry.id %></h3>
  <div>
    <a href="" id="previous-entry">Previous</a> &middot; <a href="" id="next-entry">Next</a>
  </div>

  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false" data-slideshow-interval="2000">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="links">

    <% if @entry.category_type.has_url %>
        <a href="<%= @entry.url %>" target="_blank"><%= @entry.url %></a>
    <% elsif @entry.category_type.minimum_files > 0 %>
      <% if @entry.category_type.maximum_files == 1 %>
        <div class="judging-entry-single-image">
          <a class="judging-entry-image-link" data-index="0" href="<%= @entry.images.first.public_url %>" data-gallery>
            <img src="<%= @entry.images.first.public_url %>">
          </a>
          <span class="judging-image-caption" style="display:none" id="caption-0">
            <%= @entry.images.first.caption %>
          </span>
          </div>
        <p>
          <h4>Caption:</h4>
          <%= @entry.images.first.caption %>
        </p>
      <% else %>
        <% @entry.sorted_images.each_with_index do |image, index| %>
          <div class="judging-entry-image">
            <a class="judging-entry-image-link" data-index="<%= index %>" href="<%= image.public_url %>" data-gallery>
              <img src="<%= image.public_url %>">
            </a>
            <span class="judging-image-caption" style="display:none" id="caption-<%= index %>">
              <%= image.caption %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<div id="current-caption"></div>

<%= javascript_include_tag 'bootstrap-image-gallery' %>
</body>
</html>