<% title "#{@contest} Entries" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="heading"><%= yield(:title) %></h3>
    <%= render :partial => 'shared/messages' %>

    <% if @completed_entries.length > 0 %>
      <hr>
      <h4>Completed Entries</h4>

      <% @completed_entries.each do |entry| %>
        <p id="entry-<%= entry.unique_hash %>" class="entry">
          <%= link_to "#{entry.category}", entry.confirmation_url %><br>
          <% if entry.category.category_type.maximum_files > 0 %>
            <small>
              <%= entry.images.length %> <%= entry.images.length == 1 ? 'image has' : 'images have' %> been uploaded for this category.
              <% if entry.images.length < entry.category.category_type.minimum_files %> Please upload your images now.<% end %>
            </small>
          <% end %>
          </p>
      <% end %>
    <% end %>

    <% if @pending_entries.length > 0 %>
      <hr>
      <h4>Pending Entries</h4>

      <% @pending_entries.each do |entry| %>
          <p id="entry-<%= entry.unique_hash %>" class="entry">
            <%= link_to "#{entry.category}", entry.confirmation_url %><br>
            <% if entry.category.category_type.maximum_files > 0 %>
              <small>
                <%= entry.images.length %> <%= entry.images.length == 1 ? 'image has' : 'images have' %> have been uploaded for this category.
                <% if entry.images.length < entry.category.category_type.minimum_files %> Please upload your images now.<% end %>
              </small>
            <% end %>
            </p>
        <% end %>

    <% end %>