<% title "#{@contest.year} Entries" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="heading"><%= yield(:title) %></h1>

    <% if (@completed_entries.length == 0 && @pending_entries.length == 0) %>
      <div id="alert-info" class="alert alert-info" role="status">
        <p id="alert-info-message">You have not yet submitted any entries. Begin by <%= link_to "submitting a new entry", new_entry_path, :class => 'alert-link' %>.</p>
      </div>
    <% else %>
      <% if @completed_entries.length > 0 %>
        <h4>Completed Entries</h4>

        <% @completed_entries.each do |entry| %>
          <p id="entry-<%= entry.unique_hash %>" class="entry">
            <%= link_to "#{entry.category}", entry.confirmation_url %><br>
            <% if entry.category.category_type.maximum_files > 0 %>
              <small>
                <%= entry.images.length %> <%= entry.images.length == 1 ? 'image has' : 'images have' %> been uploaded for this category.
                <% if entry.images.length < entry.category.category_type.minimum_files %> Please upload your images now.<% end %>
              </small>
            <% end %>
            </p>
        <% end %>
      <% end %>

      <% if @pending_entries.length > 0 %>
        <h4>Pending Entries</h4>

        <% @pending_entries.each do |entry| %>
          <p id="entry-<%= entry.unique_hash %>" class="entry">
            <%= link_to "#{entry.category}", entry.confirmation_url %><br>
            <% if entry.category.category_type.maximum_files > 0 %>
              <small>
                <%= entry.images.length %> <%= entry.images.length == 1 ? 'image has' : 'images have' %> have been uploaded for this category.
                <% if entry.images.length < entry.category.category_type.minimum_files %> Please upload your images now.<% end %>
              </small>
            <% end %>
            </p>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>