<% title "#{@contest.year} Contest Entries" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="heading"><%= yield(:title) %></h1>

    <% if (@completed_entries.length == 0 && @pending_entries.length == 0) %>
      <div id="alert-info" class="alert alert-info" role="status">
        <p id="alert-info-message">You have not yet submitted any entries. Begin by <%= link_to "submitting a new entry", new_entry_path, :class => 'alert-link' %>.</p>
      </div>
    <% else %>
      <% if @completed_entries.length > 0 %>
        <h4>Completed Entries</h4>
        
        <p>You have <%= pluralize(@completed_entries.length, 'completed entry') %>.</p>
        
        <% @completed_entries.each do |entry| %>
          <%= render partial: 'entry', locals: {entry: entry} %>
        <% end %>
      <% end %>

      <% if @pending_entries.length > 0 %>
        <h4>Pending Entries</h4>

        <p>You have <%= pluralize(@completed_entries.length, 'pending entry') %>.</p>

        <% @pending_entries.each do |entry| %>
          <%= render partial: 'entry', locals: {entry: entry} %>
        <% end %>
      <% end %>
      
    <% end %>
  </div>
</div>