<% title 'Entry' %>

<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <h1 class="heading"><%= @entry.contest.year %> <%= @entry.category %> Entry</h1>
    <p class="entry-info">
        <span id="entry-hash" style="display:none"><%= @entry.unique_hash %></span>
        <label>Entrant</label>: <%= @entry.user.full_name %><br>
        <label>Date Entered</label>: <%= @entry.formatted_created_at %><br>
        <label>Category Description</label><br>
        <em><%= @entry.category.description %></em><br>
        <em><%= @entry.category.category_type.description.html_safe %></em>
    </p>

    <% if @entry.category.category_type.minimum_files > 0 %>
        <%= render :partial => 'jquery_fileupload_form' %>
    <% elsif @entry.category.category_type.has_url %>
        <p>The <strong><%= @entry.category %></strong> category requires a URL to your media. Use the following input box to paste your URL, and save.</p>

        <p><strong>Please ensure that the URL is valid, or your entry cannot be judged properly.</strong></p>
        
        <div class="form-group">
            <label for="entry-url">Entry URL</label>
            <input type="text" id="entry-url" placeholder="Entry URL, i.e. http://vimeo.com/71135385" class="form-control" value="<%= @entry.url %>">
        </div>
    <% end %>
    
    <% if @entry.contest.is_open? %>
        <hr>
        <button type="button" class="btn btn-danger pull-left" id="entry-delete-button"><i class="glyphicon glyphicon-remove"></i> Delete Entry</button>
        <button type="button" class="btn btn-primary pull-right" id="entry-save-button"><i class="glyphicon glyphicon-save"></i> Save Entry</button>
        <div class="clearfix"></div>
    <% end %>
</div>
</div>
</div>