<% title 'Users Administration' %>

<h1 class="heading">Administration</h1>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'shared/admin_navigation' %>
  </div>
  <div class="col-md-10">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th>Last Signed In</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
            <td><%= mail_to user.email %></td>
            <td><%= user.created_at.strftime('%B %d, %Y at %l:%M%P') %></td>
            <td>
              <%= user.last_sign_in_at ? user.last_sign_in_at.strftime('%B %d, %Y at %l:%M%P') : 'Never' %>
            </td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
  </div>
</div>