<%= render partial: 'shared/messages' %>

<div class="container">
<div class="row">
<div class="col-md-12">
  <div class="jumbotron">
  <%= image_tag 'logos/atlpj_logo_circle_text.png', :alt => 'Atlanta Photojournalism Seminar Logo', :style => 'max-width: 90%' %><br><br>
  <h3>Welcome to the Atlanta Photojournalism Seminar Contest application.</h3>
  <% if !current_user %>
  <p>To enter the contest, begin by <%= link_to 'logging in', new_user_session_path %> or <%= link_to 'registering', new_user_registration_path %>.</p>
  <% else %>
    <% if !@contest.is_open? %>
      <% if !@contest.has_started? %>
        <p>The <%= @contest.year %> contest will open on <%= @contest.formatted_open_date %>.</p>
      <% elsif @contest.has_ended? %>
        <p>The <%= @contest.year %> contest closed on <%= @contest.formatted_close_date %>. Good luck to all who entered!</p>
      <% end %>
    <% elsif current_user.entries.length > 0 %>
      <p>You have submitted the following entries:</p>
        <% current_user.entries.each do |entry| %>
          <p id="entry-<%= entry.unique_hash %>" class="entry">
          <%= link_to "#{entry.category}", "/entries/#{entry.unique_hash}" %><br>
          <% if entry.category.category_type.maximum_files > 0 %>
            <small>
              <%= entry.images.length %> <%= 'image'.pluralize(entry.images.length) %> have been uploaded for this category.
              <% if entry.images.length < entry.category.category_type.minimum_files %> Please upload your images now.<% end %>
            </small>
          <% end %>
          </p>
        <% end %>
    <% else %>
      <p>You have not yet submitted any entries for the <%= @contest.year %> contest. Begin by <%= link_to 'submitting an entry', new_entry_path %>.</p>
    <% end %>
  <% end %>
  </div>
</div>
</div>
</div>