<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "#{image_tag('favicon.png', :width => 20)} Atlanta Photojournalism Seminar Judging".html_safe, judging_entries_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav"></ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to (session[:hide_entries] ? 'Show' : 'Hide') + ' Non-Placing Entries', toggle_hidden_entries_path %></li>
        <li><a href="" data-toggle="modal" data-target="#helpModal">Help</a></li>
        <li><%= link_to 'Return Home', root_path %></li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <select id="judging-category" class="form-control">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"<% if @current_category.id == category.id %> selected<% end %>><%= category.name %></option>
          <% end %>
          </select>
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="helpModalLabel">Help</h4>
      </div>
      <div class="modal-body">
        <h5>Category Selection</h5>
        <p>Use the select dropdown box in the navigation bar to select the category to judge.</p>

        <h5>Viewing Images</h5>
        <p>For categories with multiple images, click the first image to bring up the gallery, and use the arrow keys to move the slideshow. Press the C key to view the captions.</p>

        <h5>Hiding Non-Placing Entries</h5>
        <p>Click the link "Hide Non-Placing Entries" in the navigation bar to hide entries that have been marked as Did Not Place. This makes it easier to see the images that are still relevant to judging.</p>

        <h5>Keyboard Shortcuts</h5>
        <ul>
          <li>C - Show captions in gallery</li>
          <li>Left Arrow - Previous Entry</li>
          <li>Right Arrow - Next Entry</li>
          <li>1 - Mark entry as First Place</li>
          <li>2 - Mark entry as Second Place</li>
          <li>3 - Mark entry as Third Place</li>
          <li>4 - Mark entry as Honorable Mention</li>
          <li>0 - Mark entry as Did Not Place</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>