<% title 'Export Winners to Website' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= yield(:title) %></h1>

    <p>Click the contest below that you would like to export the winners for.</p>

    <ul>
    <% @contests.each do |contest| %>
      <li><%= link_to contest, "/export/website/#{contest.year}" %> - <%= pluralize(contest.winning_entries, 'winning entry') %></li>
    <% end %>
    </ul>

    <h3>Help</h3>

    <p>
      This page will export the contest winners into the format that is needed for the main website.
      A ZIP file will be downloaded with the following structure:
    </p>

    <pre>
contest/
  winners/
    {year}/
      {category-name}/
        index.html.erb
        slideshow.yml
        ...
      index.html.erb
      winners.yml
      slideshow.yml
      ...
images/
  {year}/
    contest-winners/
      {category-name}/
        image-1.jpg
        image-2.jpg
        ...
      ...</pre>

    <p>You can then copy and paste the <code>contest</code> and <code>images</code> directories into the source folder of the main website, and "Merge" the folders.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Export to FileMaker Pro</h1>

    <p>Choose the contest that you want to export to FileMaker Pro using the <strong>Tab Separated Text File</strong> option.</p>

    <ul>
    <% @contests.each do |contest| %>
      <li><%= link_to contest, "/export/tsv/#{contest.year}" %> - <%= pluralize(contest.winning_entries, 'winning entry') %></li>
    <% end %>
    </ul>
    <h3>Help</h3>
    <p>You can import this file into FileMaker Pro by opening the <strong>contest_winners_template.fmp12</strong> file, and going to <code>File</code> > <code>Import Records</code> > <code>File...</code>. In the <strong>Show</strong> dropdown, select <code>Tab-Separated Text Files</code> and open the file you just downloaded.</p>
    <p>In the Import Field Mapping screen, you should choose <code>matching names</code> for the <strong>Arrange By</strong> field, and ensure the <strong>Don't import first record</strong> box is checked. The import window should appear like the following:</p>

    <img src="/images/filemaker_import.png">
  </div>
</div>