<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="heading">Contest Rules Agreement</h1>
    <%= render :partial => 'shared/messages' %>

    <p><em>Before entering the <strong><%= @contest %></strong>, you must agree to the rules of the contest.</em></p>
    <h3><%= @contest %> Rules</h3>
    <div class="contest-rules"><%= @rules %></div>
    <div class="contest-agreement">
      <form role="form" action="/agreements" method="POST" onsubmit="" id="contest-agreement-form">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div class="checkbox">
        <br><label><input type="checkbox" id="contest-agreement-checkbox"> I agree to the terms and conditions of the <%= @contest %> listed above.</label>
      </div>
      <button id="contest-agreement-submit" class="btn btn-primary" onclick="">Submit</button><br><br>
    </div> 
  </div>
</div>