<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield(:title)} &middot; ".html_safe if !yield(:title).empty? %>Atlanta Photojournalism Seminar Contest</title>
  <%= favicon_link_tag       'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
<% if notice %>
<script>
$("#alert-info").hide();
$("#alert-info-message").empty().append('<%= notice %>');
$("#alert-info").fadeIn(300);
</script>
<% end %>

<% if alert %>
<script>
$("#alert-danger").hide();
$("#alert-danger-message").empty().append('<%= alert %>');
$("#alert-danger").fadeIn(300);
</script>
<% end %>
</body>
</html>
