<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield(:title)} &middot; ".html_safe if !yield(:title).empty? %>Atlanta Photojournalism Seminar Contest</title>
  <%= favicon_link_tag       'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="judging">

<%= render partial: 'shared/judging/navigation' %>

<div id="sidebar-entries">
  <h4><%= @current_category %> Entries</h4>
  
  <ul>
  <% @entries.each_with_index do |entry, index| %>
    
    <% if entry.category_type.has_url %>
      <li class="sidebar-entry">
        <a href="/judging/entry/<%= entry.unique_hash %>" class="sidebar-entry-hash" data-entry-hash="<%= entry.unique_hash %>">Entry <%= entry.unique_hash %></a>
      </li>
    
    <% elsif entry.images.size > 0 %>
      <li class="sidebar-entry">
        <a id="entry-<%= entry.unique_hash %>" href="/judging/entry/<%= entry.unique_hash %>" data-previous-entry="<%= @entries[index-1].unique_hash if @entries[index-1] %>" data-next-entry="<%= @entries[index+1].unique_hash if @entries[index+1] %>" class="sidebar-entry-hash <%= "active" if @entry && entry.unique_hash == @entry.unique_hash %>" data-entry-hash="<%= entry.unique_hash %>">Entry <%= entry.unique_hash[0..6].upcase %></a>
      </li>
    <% else %>
      <li><%= entry.id %></li>
    <% end %>

  <% end %>
  </ul>
  <p>Press ALT+C to toggle captions.</p>
</div>

<%= yield %>

</body>
</html>
